<h1>Hello, World!</h1>
{{template "lorem-ipsum"}}

{{define "lorem-ipsum"}}
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non gravida libero. In facilisis venenatis malesuada. Etiam sodales sapien et sodales posuere. Etiam id ligula purus. Duis commodo tortor vitae vestibulum fringilla. Sed a eros at odio venenatis congue. Fusce euismod facilisis nisi, ac luctus enim malesuada nec.</p>
<p>Suspendisse potenti. Ut vel lorem vestibulum, pretium arcu eu, varius diam. Ut arcu purus, convallis id vestibulum in, interdum ac dui. Donec eu bibendum tellus, a posuere risus. Ut sit amet semper orci. Duis dictum sem eget massa aliquet blandit. Aenean pretium accumsan porta. Maecenas euismod viverra nibh et euismod. Donec non scelerisque nunc. Nam nec eros ut metus pharetra ultricies. Aenean vel egestas diam. Donec vel luctus lacus.</p>
{{end}}